    :root {
      --primary-color: #0d6efd;
      --success-color: #198754;
      --danger-color: #dc3545;
      --info-color: #0dcaf0;
      --text-color: #212529;
    }

    body {
      font-family: 'Poppins', sans-serif;
      background: linear-gradient(to bottom right, #e0f2fe, #ffffff);
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      color: var(--text-color);
    }

    h2 {
      color: var(--text-color) !important;
    }

    .btn-custom {
      border-radius: 0.65rem;
      transition: transform 0.1s ease;
    }

    .btn-custom:active {
      transform: scale(0.97);
    }

    .modal-content {
      border-radius: 1rem;
    }

    .stats-container {
      margin-bottom: 1.5rem;
    }

    footer {
      margin-top: auto;
      background: #e0f2fe;
      padding: 1rem 0;
      text-align: center;
      color: #6c757d;
    }

    .navbar-toggler {
      border: none;
      outline: none;
      box-shadow: none !important;
    }

    #overlay {
      display: none;
      position: fixed;
      z-index: 1500;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.4);
    }

    #loadingSpinner {
      display: none;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2000;
    }

    .spinner-border {
      width: 3rem;
      height: 3rem;
    }

    #pagination button {
      font-weight: 500;
      font-family: 'Poppins', sans-serif;
    }

    .table thead {
      background-color: #cce5ff;
    }

    .table th {
      color: var(--text-color);
      vertical-align: middle !important;
      text-align: center;
      white-space: nowrap;
    }

    .btn-primary {
      background-color: var(--primary-color);
      border-color: var(--primary-color);
    }
    .btn-outline-secondary {
      color: var(--primary-color);
      border-color: var(--primary-color);
    }

    .btn-outline-secondary:hover {
      background-color: var(--primary-color);
      border-color: var(--primary-color);
      color: #fff;
    }
